@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Estilos globais */
* {
    font-family: "Mulish", sans-serif; /* Define a fonte padrão para todo o documento */
    letter-spacing: 0.6px; /* Espaçamento entre letras */
}

/* Reset de estilos para body */
body {
    height: 100%; /* Ocupa toda a altura da viewport */
    margin: 0; /* Remove margens padrão */
}


li, a {
    list-style-type: none;  
    color: black; 
    text-decoration: none; 
}

h1 {
    color: rgb(128,40,26);
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o wrapper ocupe toda a altura da viewport */
}

/* Header */
header>nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 2px 3px -2px #4b4a52; /* Sombra inferior no header */
}

nav>ul {
    display: flex;
}

nav>ul>li {
    margin: 0 1em; /* Espaçamento entre itens do menu */
}

nav a {
    position: relative;
    padding: 5px 0;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(128,40,26);
    transition: width 0.3s; /* Animação suave na largura */
    position: absolute;
    bottom: -2px;
    left: 0;
}

nav a:hover::after,
nav a.active::after {
    width: 100%; /* Sub-linha visível ao passar o mouse ou quando ativo */
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Faz o main ocupar o espaço disponível */
}

main h1 {
    font-weight: 600;
    text-align: center;
    margin: 2em 0 1em;
}

.mensagem {
    display: flex;
    flex-direction: column;
    width: 30em; /* Largura fixa do formulário */
    border-top: 2px solid rgb(128,40,26); /* Apenas borda inferior */
    padding-top: 1em;
}

h2 {
    text-align: left;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
}

.mensagem>p {
    margin: -0.7em 0 2em; /* Margem personalizada para o parágrafo */
}

label, input, textarea {
    margin: 0.7em 0; /* Espaçamento entre elementos do formulário */
}

input {
    height: 2em;
    border: none;
    border-bottom: 1px solid rgb(150, 150, 150); /* Apenas borda inferior */
}

textarea {
    border: 1px solid rgb(150, 150, 150); /* Borda completa para textarea */
}

#enviar {
    width: 7em;
    height: 2em;
    margin: 3em 0;
    background-color: rgb(128,40,26);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 15px;
    float: right; /* Alinha o botão à direita */
}

/* Estilos para o rodapé (footer) */
footer {
    height: 4em; /* Altura do rodapé */
    display: flex;
    justify-content: space-around; /* Alinha itens do rodapé */
    box-shadow: 0 -2px 3px -2px #4b4a52; /* Sombra na parte inferior do rodapé */
    align-items: center;
}

footer > p {
    color: rgb(183, 187, 187); /* Cor do texto do rodapé */
    font-size: 14px; /* Tamanho da fonte do texto do rodapé */
    text-align: center; /* Alinhamento do texto do rodapé */
}
