@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{  
    font-family: "Mulish", sans-serif;
    letter-spacing: 0.6px;
    color: rgba(109, 83, 12, 0.849);
}
body{
    margin: 0;

}

li{
    list-style-type: none;   
}

a{
    text-decoration: none;
}

header{
    /* background-color: rgb(147,211,174); */
    /* background-color: rgb( 250,236,182); */
}

header>nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav>ul{
    display: flex;
}

nav>ul>li{
    margin: 0 1em;
}

main{
    text-align: center;
}

.backSobre{
    background-color: antiquewhite;
    padding:  10em 10em 0 ;
    
}
.sobre{
    display: flex;
    width: 50em;
    margin: 0 auto;
}
.sobre>img{
    height: 30em;
}

.infoSobre{
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 3em;
    width: 20em;
}

.backSocial{
    display: flex;
    justify-content: center;
}

.social{
    background-color: rgb(167, 108, 53);
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 770px;
    height: 2em;
    padding: 1em;
}

.social>i,.social>img{
    margin: 0 1em
}


footer>p {
    color: rgb(183, 187, 187);
    font-size: 14px;
}