/* Importação de fontes do Google Fonts para Mulish e Libre Franklin */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Estilos globais */
* {
    font-family: "Mulish", sans-serif; /* Define a fonte padrão para todo o documento */
    letter-spacing: 0.6px; /* Espaçamento entre letras */
}

/* Reset de estilos para body */
body {
    height: 100%; /* Ocupa toda a altura da viewport */
    margin: 0; /* Remove margens padrão */
}

/* Reset de estilos para listas e links */
li, a {
    list-style-type: none; /* Remove marcadores de lista */
    color: black; /* Cor padrão para links */
    text-decoration: none; /* Remove sublinhado padrão de links */
}

/* Estilos para cabeçalhos */
h1, h2 {
    color: rgb(128, 40, 26); /* Cor específica para cabeçalhos */
    font-family: "Noto Sans JP", sans-serif; /* Fonte para cabeçalhos */
    font-weight: 500; /* Peso da fonte */
}

/* Estilos para ícones */
i {
    color: rgb(250, 250, 250); /* Cor para ícones */
}

/* Wrapper principal */
.wrapper {
    display: flex;
    flex-direction: column; /* Organiza conteúdo em coluna */
    min-height: 100vh; /* Altura mínima igual à altura da viewport */
}

/* Header */
header>nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 2px 3px -2px #4b4a52; /* Sombra inferior no header */
}

/* Estilos para a lista de navegação */
nav>ul {
    display: flex; /* Exibe os itens da lista em linha */
}

nav>ul>li {
    margin: 0 1em; /* Espaçamento entre itens do menu */
}

/* Estilos para links de navegação */
nav a {
    position: relative;
    padding: 5px 0;
}

/* Estilos para a sub-linha animada nos links de navegação */
nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(128,40,26);
    transition: width 0.3s; /* Animação suave na largura */
    position: absolute;
    bottom: -2px;
    left: 0;
}

/* Sub-linha visível ao passar o mouse ou quando ativo */
nav a:hover::after,
nav a.active::after {
    width: 100%;
}

/* Estilos para o conteúdo principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /* Faz o main ocupar o espaço disponível */
}

/* Estilos para o título principal dentro do main */
main h1 {
    font-weight: 600;
    text-align: center;
    margin: 2em 0 1em;
}

/* Estilos para a seção de informações */
.info {
    display: flex;
    flex-direction: column;
    width: 30em; /* Largura fixa da seção de informações */
    border-top: 2px solid rgb(128,40,26);
    padding: 2em 0;
}

/* Estilos para cada projeto */
.proj {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 1em 1em 0;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
}

/* Estilos para a imagem do projeto */
.proj>img {
    display: flex;
    height: 7em;
    margin: 1em auto;
}

/* Estilos para a informação do projeto */
.infoP {
    max-width: 13em;
}

/* Estilos para o link dentro da informação do projeto */
.infoP>a {
    font-weight: 800;
    color: rgb(128,40,26);
}

/* Estilos para o rodapé (footer) */
footer {
    height: 4em; /* Altura do rodapé */
    display: flex;
    justify-content: space-around; /* Alinha itens do rodapé */
    box-shadow: 0 -2px 3px -2px #4b4a52; /* Sombra na parte inferior do rodapé */
    align-items: center;
}

/* Estilos para o parágrafo dentro do rodapé */
footer>p {
    color: rgb(183, 187, 187); /* Cor do texto do rodapé */
    font-size: 14px; /* Tamanho da fonte do texto do rodapé */
    text-align: center; /* Alinhamento do texto do rodapé */
}
