@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    margin: 0;

}

li{
    list-style-type: none;   
}

a{
    text-decoration: none;
}

header{
    /* background-color: rgb(147,211,174); */
    /* background-color: rgb( 250,236,182); */
}

header>nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav>ul{
    display: flex;
}

nav>ul>li{
    margin: 0 1em;
}

main{
    
}

.backSobre{
    background-color: antiquewhite;
    padding: 10em;
}
.sobre{
    display: flex;
    background-color:rgb(255, 255, 255);
    width: 20em;
    margin: 0 auto;


}
img{
    height: 25em;
}

.infoSobre{
    margin: 1em 2em;
}